$blue: #1565C0;
$light-blue: #4FC3F7;
$red: #C62828;
$light-red: #EF5350;
$orange: #FF9800;
$light-orange: #FFCC80;
$gray: #757575;
$light-gray: #B0BEC5;
$green: #43A047;
$light-green: #81C784;
$white: #FAFAFA;
$black: #212121;